body {
  align-items: center;
  background-color: #000;
  color: #ddd;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 1em;
  width: 100%;
}

::-webkit-scrollbar { 
  /* this hides the scrollbar while allowing scrolling */
  display: none;
}

@keyframes loading-spin {
  0% {
    opacity: 80%;
    transform: rotate(0deg);
  }
  50% {
    opacity: 20%;
    transform: rotate(180deg);
  }
  100% {
    opacity: 80%;
    transform: rotate(360deg);
  }
}

@keyframes text-scroll {
  from {
    transform: translateX(100%);
  } to {
    transform: translateX(-100%);
  }
}

.active * {
  background-color: #124812
}

.button {
  background-color: #121212;
  border: 2px solid black;
  border-radius: 40%;
  padding: 0.4em 1em;
  text-align: center;
  width: fit-content;
}

.button:hover {
  background-color: #313131;
  cursor: pointer;
}

.button-remove {
  background-color: #690000;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  left: 75%;
  text-align: center;
  width: 20px;
}

.button-remove:hover {
  background-color: #400;
  cursor: pointer;
}

.context-art {
  grid-column: 1 / 3;
  grid-row: 1;
}

.context-artist {
  align-items: start;
  display: inline-grid;
  font-weight: bolder;
  grid-column: 1;
  grid-row: 2;
  justify-content: start;
}

.context-trackname {
  align-items: start;
  display: inline-grid;
  font-weight: bold;
  grid-column: 2;
  grid-row: 2;
  justify-content: end;
}

.device-selection-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.device-selection-container .button {
  display: inline-block;
  border-right: 0;
}

.devices-menu {
  background-color: #000;
  display: none;
  position: absolute;
  z-index: 1;
}

.devices-menu-container {
  display: inline-block;
  position: relative;
  left: 80%;
}

.show {
  display: block;
}

.text-scroll {
  animation: text-scroll infinite 2500ms linear;
}

#playback-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#button-wrapper * {
  display: inline-block;
}

#now-playing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 1fr;
}

@media (prefers-reduced-motion: no-preference) {
  .loadingIcon {
    animation: loading-spin infinite 2500ms linear;
    max-width: 300px;
    width: 50%;
  }
}